
.*
!.gitignore
_site
temp
bin
obj
lib
err
*.bin
*.obj
*.lib
*.err
*.exe
*.mid
*.krn
*.mp3
*.pdb
*.log
*.tlog
*.lastbuildstate
*.user
*.filters
.vs/
.VC.db
*.cache
*.idb
*.ilk
*.opendb

build/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
